<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="Getting all what we have learned in the last 4 weeks into action. Now, validating login information and registering an user">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login Page</title>
    </head>
    <body>
        <h1>Logging in</h1>
        <p>Please submit the information in the following fields:</p>
        <form>
            <p>
            <label for="email">Email Address: </label>
            <input type="text" id="email" name="email">
            </p>
            <p>
            <label for="password">Password: </label>
            <input type="text" id="password" name="password">
            </p>
            <input type="submit" value="Submit">
            </p>
        </form>
    </body>
</html>
