<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="Getting all what we have learned in the last 4 weeks into action. Now, validating login information and registering an user">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login and Registration</title>
    </head>
    <body>
        <h1>Welcome to the Main Page</h1>
        <h3><a href="/login">Already registered? Click here to log in</href></h3>
        <h3><a href="/reg_form" >First time here? Register here</href></h3>
    </body>
</html>